@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #f9f9f9;
  color: white;
  width: 100%;
  flex-basis: 100%;
  padding: 10px;
}

#logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 220px;
}

#logo {
  max-height: 75px;
  width: auto;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

nav {
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  flex-basis: 240px;
  background-color: #f9f9f9;
  padding: 30px 10px;
}

.navLink {
  padding: 5px;
  margin: 10px 0;
  color: #373a36;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 3px;
  border: 1px solid #f9f9f9;
}

.navLink i {
  margin: 0 10px 0 0;
}

.navLink:link {
  color: #373a36;
  text-decoration: none;
}

.navLink:visited {
  color: #373a36;
  text-decoration: none;
}

.navLink:hover {
  background-color: #ffffff;
  opacity: 0.9;
  cursor: pointer;
  border: 1px solid #d3d3d3;
}

.navLink:active {
  opacity: 1;
}

.navText:visited {
  text-decoration: none;
}

#hamburgerMenu {
  color: #373a36;
  font-size: 2rem;
  display: none;
}

main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  flex: 1;
  background-color: #ffffff;
  padding: 20px;
}

.mainWrapper {
  flex-basis: 100%;
  max-width: 1200px;
  color: #373a36;
  font-family: "Open Sans", sans-serif;
}

.mainWrapper h1 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 3rem;
}

.mainWrapper h2 {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

#content {
  display: flex;
  flex-flow: row nowrap;
  flex: 1;
}

.statsContainer {
  display: flex;
  flex-flow: row wrap;
  flex: 1;
}

.statsHalf {
  background-color: lightgray;
  margin: 10px;
  padding: 5px;
  border-radius: 3px;
  color: black;
  flex: 1;
}

.statsFull {
  background-color: lightgray;
  margin: 10px;
  padding: 5px;
  border-radius: 3px;
  color: black;
  flex-basis: 100%;
}

.addNewContainer {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
  padding: 5px;
  color: black;
}

.addNewContainer button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 3px;
  text-decoration: none;
  padding: 10px;
}

.itemDiv {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 70%;
  background-color: lightgray;
  color: black;
  border-radius: 3px;
  margin: 10px;
  padding: 5px;
  font-size: 2rem;
}

.itemDiv i {
  margin: 0 5px;
}

.itemDiv .checkbox {
  width: 25px;
  height: 25px;
}

.addNewForm {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.5rem;
}

.addNewForm input,
button,
label {
  display: block;
  margin: 10px;
  padding: 5px;
}

@media screen and (max-width: 1000px) {
  .navText {
    display: none;
  }

  nav {
    flex-basis: 120px;
    padding: 30px 10px;
  }

  #logoContainer {
    flex-basis: 100px;
  }

  #logo {
    max-height: 55px;
    width: auto;
  }

  .navLink {
    padding: 5px;
    margin: 10px 0;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
  }
}

@media screen and (max-width: 850px) {
  nav {
    flex-basis: 80px;
    padding: 30px 5px;
  }

  #logoContainer {
    flex-basis: 60px;
  }

  #logo {
    max-height: 30px;
    width: auto;
  }

  .navLink {
    padding: 5px;
    margin: 10px 0;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  nav {
    display: none;
  }

  #logoContainer {
    flex-basis: 60px;
  }

  #logo {
    max-height: 45px;
    width: auto;
  }

  #hamburgerMenu {
    display: inline-block;
  }

  header {
    padding: 10px 20px;
  }
}
